<div class="container">

<p id="notice"><%= notice %></p>

<h1>Listing Craftings</h1>


<% @craftings.each do |crafting| %>
     <div class="entry col-sm-12">
        <p class="col-lg-4 col-md-4 col-sm-12"><%= image_tag crafting.image %></p>

        <h2><%= crafting.title %></h2>

        <p><%= crafting.description %></p>
        
        <p class="timestamp"><%= crafting.created_at.strftime ("%e.%b %Y | %R") %></p>

          <button type="button" class="btn btn-primary">
            <%= link_to 'Show', crafting %>
          </button>
        
          <button type="button" class="btn btn-primary">
            <%= link_to 'Edit', edit_crafting_path(crafting) %>
          </button>
        
          <button type="button" class="btn btn-primary">
            <%= link_to 'Destroy', crafting, method: :delete, data: { confirm: 'Are you sure?' } %>
          </button>
      </div>
    <% end %>

<br>

<button type="button" class="btn btn-success">
  <%= link_to 'New Crafting', new_crafting_path %>
</button>
</div>