<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @sport.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sport.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @sport.image %>
</p>

<%= link_to 'Edit', edit_sport_path(@sport) %> |
<%= link_to 'Back', sports_path %>
