<div class="container">

<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>


<% @posts.each do |post| %>
      <div class="entry col-sm-12">
        <p class="col-lg-4 col-md-4 col-sm-12"><%= image_tag post.image %></p>
        
        <h2><%= post.title %></h2>
        
        <p><%= post.description %></p>
        
        <p class="timestamp"><%= post.created_at.strftime ("%e.%b %Y | %R") %></p>

        <button type="button" class="btn btn-primary"> 
          <%= link_to 'Show', post %>
        </button>
          
        <button type="button" class="btn btn-primary">
          <%= link_to 'Edit', edit_post_path(post) %>
        </button>
          
        <button type="button" class="btn btn-primary">
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
        </button>

      </div>    
    
<% end %>

<br>

<button type="button" class="btn btn-success">
  <%= link_to 'New Post-Post', new_post_path %>
</button>
</div>
